<!-- 引用Layout -->
@{
    Layout = "_Layout";
}

<!-- Title -->
@{
    ViewData["Title"] = "常見問題";
}

<!-- CSS -->
@section Styles{

}

<!-- section -->
<main>
    <div class="mt-4">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#!">首頁</a></li>
                            <li class="breadcrumb-item"><a href="#!">常見問題</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">Freshcart Blog</li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mt-8">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-12">


                    <!-- h1 在這裡！！！！！ -->
   
                    <h1 class="fw-bold">常見問題</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- section -->
    <section class="mt-6 mb-lg-14 mb-8">
        <!-- container -->
        <div class="container">

            <div class="row d-flex align-items-center mb-8">

                <div class="col-12 col-md-12 col-lg-8">
                    <a href="#!">
                        <!-- img -->
                        <div class="img-zoom">
                            <img src="~/images/users/purchasing-flowchart.png" alt="" class="img-fluid w-100">
                            <!-- <img src="~/assets/images/blog/blog-large.jpg" alt="" class="img-fluid w-100"> -->
                        </div>
                    </a>
                </div>

                <!-- text -->
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="ps-lg-8 mt-8 mt-lg-0">
                        <!-- text -->
                        <div class="mb-3">
                            <a href="#!">Buying Guide</a>
                        </div>
                        <h2 class="mb-3"><a href="#!" class="text-inherit">購買指南</a></h2>
                        @* <p>預計再優化流程圖>>等其他完工再來製作漂亮的</p> *@
                        <div class="d-flex justify-content-between text-muted">
                        </div>
                    </div>
                </div>

            </div>

            <!-- row -->
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 mb-10">

                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>

                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Purchase Issues</a>
                    </div>
                    <!-- text -->
                    <div>
                        <h2 class="h5"><a href="#!" class="text-inherit">購買問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>如何在網站上註冊並開始購買即期品？</li>
                                <li>是否有最低購買金額或數量的要求？</li>
                                <li>如何查找即期商品的詳細資訊？</li>
                            </ol>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-2.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Pricing and Payment</a>

                    </div>
                    <!-- text -->
                    <div>
                        <h2 class="h5"><a href="#!" class="text-inherit">價格與支付</a></h2>
                        <p>
                            <ol class="lead">
                                <li>購買即期商品的折扣率是多少？</li>
                                <div> 惜食平台販售的價格是都原定價的65折</div>
                                <li>可以使用哪些支付方式？</li>
                                <div> 目前僅接受信用卡，其他付款方式將在未來開通</div>
                                <li>購買後是否會立即扣款？</li>
                                <div></div>
                            </ol>
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-1.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>

                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Product Information</a>
                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">產品資訊</a></h2>
                        <p>
                            <ol class="lead">
                                <li>即期商品的品質是否有保證？</li>
                                <div>即期商品商品都還在安全使食用期內，品質都是沒問題的</div>
                                <li>如果購買的商品有問題，該如何處理？</li>
                                <div>請直接致電店家做後續處理</div>
                            </ol>
                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>18 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">5min</span></small></span> -->
                    </div>
                </div>




                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-4.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3">
                        <a href="#!">Shipping Issues</a>
                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">運送問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>可以選擇哪些送貨或自取的方式？</li>
                                <div>自取請參照店家資訊；送貨將由我們安排外送員給您～</div>
                                <li>新北市和台北市以外的區域是否可以送貨？</li>
                                <div>暫時沒辦法喔～</div>
                                <li>從訂購到送達的大致時間需要多久？</li>
                                <div></div>
                            </ol>
                        </p>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-5.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <div class="mb-3">
                        <a href="#!">Returns and Exchanges Issues</a>

                    </div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">退換貨問題</a></h2>
                        <p>
                            <ol class="lead">
                                <li>購買的即期商品是否可以退換？</li>
                                <div></div>
                                <li>如果要求退換，流程是如何的？</li>
                                <div></div>
                            </ol>

                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>12 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">12min</span></small></span> -->
                    </div>
                </div>


                <div class="col-12 col-md-6 col-lg-4 mb-10">
                    <div class="mb-4">
                        <a href="#!">
                            <!-- img -->
                            <div class="img-zoom">
                                <img src="~/assets/images/blog/blog-img-6.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </a>
                    </div>
                    <!-- text -->
                    <div class="mb-3"><a href="#!">Business Hours</a></div>
                    <div>
                        <!-- text -->
                        <h2 class="h5"><a href="#!" class="text-inherit">營業時間 </a></h2>
                        <p>
                            <ol class="lead">
                                <li>網站接受訂單的時間有何限制</li>
                                <div></div>
                                <li>自取和外送服務的營業時間是如何設定？</li>
                                <div></div>
                            </ol>

                        </p>
                        <!-- <div class="d-flex justify-content-between text-muted mt-4"><span><small>14 April 2023</small></span><span><small>Read time: <span class="text-dark fw-bold">6min</span></small></span> -->
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

@section Scripts{
    <!-- Libs JS -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    }
