@{
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "地圖探索";
}
@section Styles{
    <style>
        #map {
            width: 100%;
            height: 75%;
        }
        /** Optional: Makes the sample page fill the window.*/
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px;
            cursor: pointer;
        }

            .custom-map-control-button:hover {
                background: rgb(235, 235, 235);
            }
    </style>
}
<section class="container" id="showMap">
    <div class="container p-5 row">

        <!-- col -->
        <aside class="col-lg-3 col-md-4 ">
            <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50 " tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">

                <div class="offcanvas-header d-lg-none">
                    <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ps-lg-2 pt-lg-0">
                    <div class="mb-8">
                        <!-- title -->
                        <h5 class="mb-3">依地區探索</h5>
                        <!-- nav -->
                        <ul class="nav nav-category" id="categoryCollapseMenu">
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold" data-bs-toggle="collapse" data-bs-target="#categoryFlushOne" aria-expanded="false" aria-controls="categoryFlushOne">臺北市<i class="feather-icon icon-chevron-right"></i></a>
                                <!-- accordion collapse -->
                                <div id="categoryFlushOne" class="accordion-collapse collapse" data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                        <!-- nav -->
                                        <ul class="nav flex-column ms-3">
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Milk</a></li>
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Milk Drinks</a></li>
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Curd &amp; Yogurt</a></li>
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Eggs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    新北市 <i class="feather-icon icon-chevron-right"></i>
                                </a>

                                <!-- collapse -->
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#categoryCollapseMenu">
                                    <div>
                                        <ul class="nav flex-column ms-3">
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Chips &amp; Crisps</a></li>
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Nachos</a></li>
                                            <!-- nav item -->
                                            <li class="nav-item"><a href="#!" class="nav-link">Popcorn</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-8">
                        <!-- title -->
                        <h5 class="mb-3">依種類探索</h5>
                        <!-- nav -->
                        <ul class="nav nav-category">
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold">
                                    便當
                                </a>

                            </li>

                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold">
                                    甜點麵包
                                </a>
                            </li>
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold">
                                    生鮮
                                </a>
                            </li>
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold">
                                    異國料理
                                </a>
                            </li>
                            <li class="nav-item border-bottom w-100 ">
                                <a href="#" class="nav-link collapsed" style="color:#6c757d;font-weight: bold">
                                    素食
                                </a>
                            </li>


                        </ul>
                    </div>
                    <div class="mb-8">

                        <h5 class="mb-3">店家狀態</h5>

                        <!-- form check -->
                        <div class="form-check mb-2">
                            <!-- input -->
                            <input class="form-check-input" style="color:#6c757d;border: 2px solid" type="checkbox" value="" id="DealShare">
                            <label class="form-check-label" style="color:#6c757d;font-weight: bold" for="DealShare">
                                營業中
                            </label>
                        </div>
                        <!-- form check -->
                        <div class="form-check mb-2">
                            <!-- input -->
                            <input class="form-check-input" style="color:#6c757d;border: 2px solid" type="checkbox" value="" id="Dmart">
                            <label class="form-check-label" style="color:#6c757d;font-weight: bold" for="Dmart">
                                尚有剩食庫存
                            </label>
                        </div>



                    </div>

                    <div class="mb-8 position-relative">
                        <h5 class="mb-3">探索你的周遭</h5>
                        <!-- Banner Design -->
                        <!-- Banner Content -->
                        <div class="position-absolute p-5 py-8">


                            <a href="#" class="btn btn-dark">GO<i class="feather-icon icon-arrow-right ms-1"></i></a>
                        </div>
                        <!-- Banner Content -->
                        <!-- Banner Image -->
                        <!-- img --><img src="~/images/Users/mapsmall.jpg" class="img-fluid rounded " />
                        <!-- Banner Image -->
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-lg-9 col-md12 mb-6 mb-md-0">
            <section id="map">
            </section>
        </div>
    </div>

</section>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN9KFcDFxucoV9IglJyqQSd_d1GLWHiYI&callback=initMap"
            async defer></script>
    <!-- prettier-ignore -->
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyAN9KFcDFxucoV9IglJyqQSd_d1GLWHiYI", v: "weekly" });</script>
    <script>
        var baseAddress = "https://localhost:7042";
        var StoreMap= Vue.createApp({
            data: function () {
                return {
                    storeData: [],
                    
                }
            },
            mounted: function () {
                this.getStoreOnMapApi();
            },
            methods: {
                getStoreOnMapApi: function () {
                    // fetch(`${baseAddress}/odata/Productapi/GetProduct/${productId}`)
                    fetch(`${baseAddress}/api/Storeapi/FilterInMap`, { method: "GET" })
                        .then(response => response.json())
                        .then(data => {
                            this.storeData = data;
                        })
                        .catch(error => {
                            alert(error);
                        })
                },
            },
        }).mount("#showMap")
    </script>
    <script>
        let map, infoWindow;

        async function initMap() {
            // The location of Taipei
            const position = { lat: 25.051607, lng: 121.5175101 };
            // Request needed libraries.
            const { Map } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerView } = await google.maps.importLibrary("marker");//沒出現
            map = new Map(document.getElementById("map"), {
                zoom: 15,
                center: position,
                mapId: "d71a4c9bf9226d95",
                fullscreenControl: false,
                mapTypeControl: false,
            });
            const marker = new AdvancedMarkerView({
                map: map,
                position: position,
                title: "taipei",
            });
            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");

            locationButton.textContent = "現在位置";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };

                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Location found.");
                            infoWindow.open(map);
                            map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
           
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: 得取妳的地理位置失敗"
                    : "Error: 你的瀏覽器不支援地理位置功能"
            );
            infoWindow.open(map);
        }

        initMap();

        // var showMap = Vue.createApp({
        //     data: function () {
        //         return {
        //             map: null,
        //         }
        //     },
        //     methods: {
        //         initMap() {
        //             let location = {
        //                 lat: 25.051607, // 經度
        //                 lng: 121.5175101 // 緯度
        //             };

        //             this.map = new google.maps.Map(document.getElementById('map'), {
        //                 center: location, // 中心點座標
        //                 zoom: 15,
        //                 mapId: "d71a4c9bf9226d95",
        //                 fullscreenControl: false,
        //                 mapTypeControl: false,
        //             });
        //             let marker = new google.maps.Marker({
        //                 position: location,
        //                 map: this.map
        //             });
        //         }
        //     },
        //     created() {
        //         window.addEventListener('load', () => {
        //             this.initMap();
        //         });
        //     }


        // }).mount("#showMap");

    </script>
}
