@section Styles{
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
}

<div class="container text-center" id="app">
    <div class="row align-items-stretch">
        <div class="col">
            <div class="my-lg-8 my-8">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div>
                            <div>
                                <h1 class="mb-1 h2 fw-bold">註冊成為Sifood會員</h1>
                                <p>歡迎加入會員, 一起杜絕浪費!</p>
                            </div>
                            <form>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <input type="email" name="EmailAccount" class="form-control" id="inputEmail4" placeholder="Email" required="" v-model="vueAccount">
                                    </div>
                                    <div class="col-12">
                                        <div class="password-field position-relative">
                                            <input type="password" name="Password" id="fakePassword" placeholder="Enter Password" class="form-control" required="" v-model="vuePassword">
                                            <span><i id="passwordToggler" class="bi bi-eye-slash"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="password-field position-relative">
                                            <input type="password" id="passwordConfirmed" placeholder="Password Confirmed" class="form-control" required="">
                                            <span><i id="passwordToggler" class="bi bi-eye-slash"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 d-grid">
                                        <button id="registerSubmit" type="submit" class="btn btn-primary" @@click="register">註冊</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="my-lg-8 my-8">
                <div class="container">
                    <!-- row -->
                    <div class="row justify-content-center align-items-center">
                        <!-- col -->
                        <div>
                            <div>
                                <h1 class="mb-1 h2 fw-bold">登入Sifood</h1>
                                <p>歡迎回來Sifood, 登入並開始享受美食!</p>
                            </div>

                            <form method="post">
                                <div class="row g-4">
                                    <!-- row -->

                                    <div class="col-12">
                                        <!-- input -->
                                        <input type="email" class="form-control" name="Account" placeholder="Email" required="">
                                    </div>
                                    <div class="col-12">
                                        <!-- input -->
                                        <div class="password-field position-relative">
                                            <input type="password" id="fakePassword3"  name="Password" placeholder="Enter Password" class="form-control" required="">
                                            <span><i id="passwordToggler" class="bi bi-eye-slash"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- input -->
                                        <div class="d-flex justify-content-end">
                                            <div>忘記密碼? <a asp-page="">重設密碼</a></div>
                                        </div>
                                    </div>
                                    <div style="height:3px"></div>
                                    <div class="col-12 d-grid">
                                        <button type="submit" class="btn btn-primary" style="height:43px">登入</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/js/vendors/password.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   

    <script>
        var baseAddress = "https//localhost:7042";

        var loginApp = Vue.createApp({

            data: function () {
                return {
                    vueAccount:"",
                    vuePassword:"",
                }
            },

            methods:{
                register() {
                    _this = this
                    var form = new FormData();
                    form.append("UserId", -1)
                    form.append("EmailAccount", _this.vueAccount);
                    form.append("Password", _this.vuePassword);
                    axios.post(`/Account/PostAccount`, form, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(response => {
                        alert(response.data);
                    }).catch(err => {
                        alert(err);
                    });
                }
            },


        }).mount("#app")

    </script>
}