<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
   

    <title>@ViewData["Title"] - sifoodprojectformal2.0</title>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/sifood_logo_bgclear.png">

    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
  

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
    @RenderSection("Styles", required: false)
    <!-- Google tag (gtag.js) -->
    <!-- End Tag -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sifoodprojectformal.styles2.0.css" asp-append-version="true" />
</head>
<body>
    <div class="border-bottom ">
        <div class="py-1">
            <div class="container">
                <div class="row w-100 align-items-center gx-lg-2 gx-0">
                    <div class="col-xxl-2 col-lg-3">
                        <a class="navbar-brand d-none d-lg-block" >
                            <img src="~/images/sifood_logo_bgclear.png" max-width="200" height="150" alt="eCommerce HTML Template">
                        </a>
                        <div class="d-flex justify-content-between w-100 d-lg-none">
                            <a class="navbar-brand" >
                                <img src="~/images/sifood_logo_bgclear.png"  max-width="300" height="200" alt="eCommerce HTML Template">
                            </a>
<<<<<<< HEAD
                            <ul class="navbar-nav flex-column" id="sideNavbar">
                                <li class="nav-item">
                                    <a class="nav-link  active" role="button" asp-controller="OrderManage" asp-action="Index">
                                        訂單管理
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" role="button" asp-controller="MemberManage" asp-action="Index">
                                        顧客管理
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">商家</a>
                                    <ul class="dropdown-menu">
=======
                        </div>
                    </div>

                <div class="col-md-3 offset-md-6">
                        <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">

                            <li class="dropdown-center ">
                                <a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-bell fs-5"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2 ms-n2">
                                        2
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-0 ">
                                    <div class="border-bottom p-5 d-flex
              justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mb-1">Notifications</h5>
                                            <p class="mb-0 small">You have 2 unread messages</p>
                                        </div>
                                        <a href="#!" class="text-muted">
                                            <a href="#" class="btn btn-ghost-secondary btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mark all as read">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2-all text-success" viewBox="0 0 16 16">
                                                    <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                                                    <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                                </svg>
                                            </a>
                                        </a>
                                    </div>
                                    <div data-simplebar style="height: 250px;">
                                        <!-- List group -->
                                        <ul class="list-group list-group-flush notification-list-scroll fs-6">
                                            <!-- List group item -->
                                            <li class="list-group-item px-5 py-4 list-group-item-action active">
                                                <a href="#!" class="text-muted">
                                                    <div class="d-flex">
                                                        <img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                                        <div class="ms-4">
                                                            <p class="mb-1">
                                                                <span class="text-dark">Your order is placed</span> waiting for shipping
                                                            </p>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                                </svg><small class="ms-2">1 minute ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item  px-5 py-4 list-group-item-action">
                                                <a href="#!" class="text-muted">
                                                    <div class="d-flex">
                                                        <img src="../assets/images/avatar/avatar-5.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                                        <div class="ms-4">
                                                            <p class="mb-1">
                                                                <span class="text-dark">Jitu Chauhan </span> answered to your pending order list with notes
                                                            </p>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                                </svg><small class="ms-2">2 days ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-5 py-4 list-group-item-action">
                                                <a href="#!" class="text-muted">
                                                    <div class="d-flex">
                                                        <img src="../assets/images/avatar/avatar-2.jpg" alt="" class="avatar avatar-md rounded-circle ">
                                                        <div class="ms-4">
                                                            <p class="mb-1">
                                                                <span class="text-dark">You have new messages</span> 2 unread messages
                                                            </p>
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
                                                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                                </svg><small class="ms-2">3 days ago</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="border-top px-5 py-4 text-center">
                                        <a href="#!" class=" ">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown ms-4">
                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0">
                                    <div class="lh-1 px-5 py-4 border-bottom">
                                        <h5 class="mb-1 h6">FreshCart Admin</h5>
                                        <small>admindemo@email.com</small>
                                    </div>
                                    <ul class="list-unstyled px-2 py-3">
                                        <li>
                                            <a class="dropdown-item" href="#!">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#!">
                                                Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#!">
                                                Settings
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="border-top px-5 py-3">
                                        <a href="#">Log Out</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-4 " aria-label="Offcanvas navbar large">
                <div class="container">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
                        <div class="offcanvas-header pb-1">
                            <a href="./index.html"><img src="./assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template"></a>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="">
                            <div class="d-block d-lg-none mb-4">
                                <form action="#">
                                    <div class="input-group ">
                                        <input class="form-control rounded" type="search" placeholder="Search for products">
                                        <span class="input-group-append">
                                            <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-search">
                                                    <circle cx="11" cy="11" r="8"></circle>
                                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                </svg>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <div class="mt-2">
                                    <button type="button" class="btn  btn-outline-gray-400 text-muted w-100 " data-bs-toggle="modal"
                                            data-bs-target="#locationModal">
                                        <i class="feather-icon icon-map-pin me-2"></i>Pick Location
                                    </button>
                                </div>
                            </div>
                            <div class="d-block d-lg-none mb-4">
                                <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center" data-bs-toggle="collapse"
                                   href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-grid">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </span> All Departments
                                </a>
                                <div class="collapse mt-2" id="collapseExample">
                                    <div class="card card-body">
                                        <ul class="mb-0 list-unstyled">
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Dairy, Bread & Eggs</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Snacks & Munchies</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Fruits & Vegetables</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Cold Drinks & Juices</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Breakfast & Instant Food</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Bakery & Biscuits</a></li>
                                            <li><a class="dropdown-item" href="./pages/shop-grid.html">Chicken, Meat & Fish</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <ul class="navbar-nav align-items-center ">
                                    <li class="nav-item dropdown w-100 w-lg-auto">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            訂單
                                        </a>
                                        <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="./index.html">進行中訂單<span class="badge bg-light-info text-dark-info ms-1">New</span></a></li>
                                            <li><a class="dropdown-item" href="">歷史訂單</a></li>                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item w-100 w-lg-auto">
                                    <a class="nav-link" role="button" asp-controller="MemberManage" asp-action="Index">
                                        顧客</a>                                        
                                    </li>
                                    <li class="nav-item dropdown w-100 w-lg-auto">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">商家</a>
                                        <ul class="dropdown-menu">
>>>>>>> 1a865383e121c50bc100f1206878712bf825af4b
                                        <li><a class="dropdown-item" asp-controller="Storemanage" asp-action="StoreConfirm">商家審核</a></li>
                                        <li><a class="dropdown-item" asp-controller="Storemanage" asp-action="Index">商家資料</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-4 " aria-label="Offcanvas navbar large">
                        <div class="container">
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
                                <div class="offcanvas-header pb-1">
                                    <a href="./index.html"><img src="./assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template"></a>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="">
                                    <div class="d-block d-lg-none mb-4">
                                        <form action="#">
                                            <div class="input-group ">
                                                <input class="form-control rounded" type="search" placeholder="Search for products">
                                                <span class="input-group-append">
                                                    <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                             class="feather feather-search">
                                                            <circle cx="11" cy="11" r="8"></circle>
                                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                        <div class="mt-2">
                                            <button type="button" class="btn  btn-outline-gray-400 text-muted w-100 " data-bs-toggle="modal"
                                                    data-bs-target="#locationModal">
                                                <i class="feather-icon icon-map-pin me-2"></i>Pick Location
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-block d-lg-none mb-4">
                                        <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center" data-bs-toggle="collapse"
                                           href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <span class="me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-grid">
                                                    <rect x="3" y="3" width="7" height="7"></rect>
                                                    <rect x="14" y="3" width="7" height="7"></rect>
                                                    <rect x="14" y="14" width="7" height="7"></rect>
                                                    <rect x="3" y="14" width="7" height="7"></rect>
                                                </svg>
                                            </span> All Departments
                                        </a>
                                        <div class="collapse mt-2" id="collapseExample">
                                            <div class="card card-body">
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Dairy, Bread & Eggs</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Snacks & Munchies</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Fruits & Vegetables</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Cold Drinks & Juices</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Breakfast & Instant Food</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Bakery & Biscuits</a></li>
                                                    <li><a class="dropdown-item" href="./pages/shop-grid.html">Chicken, Meat & Fish</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <ul class="navbar-nav align-items-center ">
                                            <li class="nav-item dropdown w-100 w-lg-auto">
                                                <a class="nav-link" role="button" asp-controller="OrderManage" asp-action="Index">
                                                    訂單管理
                                                </a>                                                
                                            </li>
                                            <li class="nav-item w-100 w-lg-auto">
                                                <a class="nav-link" role="button" asp-controller="MemberManage" asp-action="Index">
                                                    顧客管理
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown w-100 w-lg-auto">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                                   aria-expanded="false">商家</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" asp-controller="Storemanage" asp-action="StoreConfirm">商家審核</a></li>
                                                    <li><a class="dropdown-item" asp-controller="Storemanage" asp-action="Index">商家資料</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <main class="">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - sifoodprojectformal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Libs JS -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.datatables.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="~/assets/js/vendors/countdown.js"></script>
    <script src="~/assets/libs/slick-carousel/slick/slick.min.js"></script>
    <script src="~/assets/js/vendors/slick-slider.js"></script>
    <script src="~/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/assets/js/vendors/tns-slider.js"></script>
    <script src="~/assets/js/vendors/zoom.js"></script>
    <script src="~/assets/js/vendors/increment-value.js"></script>


</body>
</html>