@{
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "歷史訂單";
}
<!-- CSS -->
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">

    <!--改放大鏡和X顯示問題-->
    <style>
        .input-group-append .btn {
            margin-left: 2px; /* 增加按鈕間的間隔 */
        }

        .input-group .form-control {
            padding-right: 2.5rem; /* 確保輸入框內有足夠的空間 */
        }
    </style>
    }


<!-- Main -->

<section>
    <div id="historyApp">
        <div class="container">
            <div class="row">
                <!--左側Side bar PartialView-->
                <partial name="_MembershipPartial"></partial>

                <!--Title-->
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="py-6 p-md-6 p-lg-10">
                        <h2 class="mb-6">我的訂單</h2>
                        <div id="error-message" style="color: red; display: none;"></div>

                        <!-- 加入filter 搜索和篩選 -->
                        <div class="row">
                            <div class="col-12">
                                <div class="d-lg-flex justify-content-between align-items-center">
                                    <div class="mb-3 mb-lg-0">
                                        <p class="mb-0">共 <span class="text-dark">1 </span> 筆</p>
                                    </div>

                                    <!-- text搜索框-->
                                    <div class="col-xxl-4 col-lg-4 d-none d-lg-block">
                                        <div class="input-group">
                                            <input class="form-control rounded" type="text" placeholder="Search for products" v-model="searchTerm">
                                            <span class="input-group-append">
                                                <button class="btn bg-white" v-on:click="searchOrders">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.414-1.415l-3.85-3.85a1.002 1.002 0 0 0-.114-.098zM13 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                    </svg>
                                                </button>
                                                <button class="btn bg-white">
                                                    X
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- 顯示筆數選擇 -->
                                    <div class="form-group">
                                        <select class="form-select" v-model.number="countPerPage">
                                            <option value="5">顯示: 5</option>
                                            <option value="10">顯示:10</option>
                                            <option value="20">顯示:20</option>
                                            <option value="30">顯示:30</option>
                                        </select>
                                    </div>

                                    <!-- Sort顯示 -->
                                    <div class="form-group">
                                        <select class="form-select" v-model="sortOption">
                                            <option value="default">預設排序</option>
                                            <option value="Status">訂單狀態</option>
                                            <option value="priceAsc">金額：由低到高</option>
                                            <option value="priceDesc">金額: 由高到低</option>
                                            <option value="dateAsc">訂購日期：由新到舊</option>
                                            <option value="dateDesc">訂購日期：由舊到新</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-10 table-responsive-xxl border-0">
                            <table class="table mb-0 text-nowrap table-centered">
                                <thead class="bg-light">
                                    <tr>
                                        <th>明細|評論</th>
                                        <th>&nbsp;</th>
                                        <th>商品</th>
                                        <th>訂單編號</th>
                                        <th>訂購日期</th>
                                        <th>件數</th>
                                        <th>訂單狀態</th>
                                        <th>金額</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="order in filterOrder">
                                        <td class=" text-muted align-middle border-top-0">
                                            <!-- 觸發模態框的按鈕 -->
                                            <a class="text-inherit" @@click="loadOrderDetails(order.orderId)"
                                            data-bs-toggle="modal" data-bs-target="#orderDetailModal">
                                                <i class="feather-icon icon-eye ms-5"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <img :src="order.firstProductPhotoPath" alt="Product" class="icon-shape icon-xl">
                                        </td>
                                        <td> {{order.firstProductName }}</td>
                                        <td>{{ order.orderId }}</td>
                                        <td>                                            
                                            {{showDate(order.orderDate) }}<br>
                                            {{showTime(order.orderDate)}}
                                        </td>
                                        <td> {{order.quantity }}</td>
                                        <td>
                                            <span :class="getStatusClass(order.status)">{{order.status}}</span>
                                        </td>
                                        <td>$ {{ order.totalPrice}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--分頁-->
                        <div class="border-top d-md-flex justify-content-between align-items-center p-6">
                            <nav aria-label="Page navigation">
                                <paginate :page-count="total"
                                          :prev-text="'<'"
                                          :next-text="'>'"
                                          :click-handler="pageClick">
                                    <span slot="prevContent"><i class="feather-chevrons-left"></i></span>
                                    <span slot="nextContent"><i class="feather-chevrons-right"></i></span>
                                </paginate>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>



     
        <!--modal-->
        <div class="modal fade" id="orderDetailModal" tabindex="-1" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalScrollableTitle">明細&評論</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 card py-3 p-md-4 p-lg-4">
                            <div class="py-2 p-md-2 p-lg-2">
                                <!-- heading -->
                                <h2 class="mb-6">訂單明細</h2>
                            </div>

                            <!-- 訂單明細 -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="mt-4 mt-lg-0 card shadow-sm">
                                        <h5 class="px-6 py-4 bg-transparent mb-0">訂單編號- {{ orderDetail.orderId }}</h5>
                                        <div class="ms-6 mb-3">
                                            商品種類：{{ orderDetail.items.length }} 種
                                        </div>
                                        <div class="ms-6 mb-3">
                                            運送方式：<span :class="getDeliveryMethodClass(orderDetail.deliveryMethod)">{{ orderDetail.deliveryMethod }}</span>
                                            <!--依據不同運送方式給顏色-->
                                            @*  @{
                                            string badgeClass = Model.DeliveryMethod switch
                                            {
                                            "外送" => "badge bg-light-info text-dark-info",
                                            "自取" => "badge bg-light-danger text-dark-danger",
                                            };
                                            }
                                            <span class="@badgeClass">@Model.DeliveryMethod</span> *@
                                        </div>

                                        <!-- 列表渲染 -->
                                        <ul class="list-group list-group-flush">
                                            <!-- list group item -->
                                            <li class="list-group-item px-4 py-3" v-for="item in orderDetail.items">
                                                <div class="row align-items-center mb-3">
                                                    <div class="col-2 col-md-2">
                                                        <img :src="item.photoPath" alt="Product" class="img-fluid">
                                                    </div>
                                                    <div class="col-5 col-md-5 mb-3">
                                                        <h6>{{ item.productName }}</h6>
                                                    </div>
                                                    <div class="col-2 col-md-2 text-center text-muted mb-3">
                                                        <span>{{ item.quantity }}</span>
                                                    </div>
                                                    <div class="col-3 text-lg-end text-start text-md-end col-md-3 mb-3">
                                                        <span class="fw-bold">${{ item.unitPrice }}</span>
                                                    </div>
                                                </div>                                               
                                            </li>

                                            <!-- list group item -->
                                            <li class="list-group-item px-4 py-3">
                                                <div class="d-flex align-items-center justify-content-between   mb-2">
                                                    <div>
                                                        金額小計
                                                    </div>
                                                    <div class="fw-bold">
                                                        ${{ orderDetail.itemsSubTotal }}
                                                        @* $@Convert.ToInt32(Model.ItemsSubTotal) *@
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between  ">
                                                    <div>
                                                        運費
                                                    </div>
                                                    <div class="fw-bold">
                                                        ${{ orderDetail.shippingFee }}
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- list group item -->
                                            <li class="list-group-item px-4 py-3">
                                                <div class="d-flex align-items-center justify-content-between fw-bold">
                                                    <div>
                                                        總金額
                                                    </div>
                                                    <div>
                                                        ${{ orderDetail.totalPrice }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- 星星區塊第二種 -->
                        <div class="card py-3 p-md-4 p-lg-4 ">
                            <div class="card-body">
                                <!-- rating -->
                                <h3 class="mb-5"><mark>請給店家評分<mark></h3>
                                <div class="border-bottom py-4 mb-4">
                                    <div class="rating-box">
                                        <div class="rating">
                                            @* :class="getStarClass(star)" v-on:mouseover="setHoverRating(star)" v-on:mouseout="setHoverRating(0)" v-on:click="setCurrentRating(star)" *@
                                            <span v-for="star in 5" style="font-size:35px;"></span>
                                            @* <span class="fa fa-star-o text-warning" style="font-size:35px;"></span>
                                            <span class="fa fa-star-o text-warning" style="font-size:35px;"></span>
                                            <span class="fa fa-star-o text-warning" style="font-size:35px;"></span>
                                            <span class="fa fa-star-o text-warning" style="font-size:35px;"></span>
                                            <span class="fa fa-star-o text-warning" style="font-size:35px;"></span> *@
                                        </div>
                                        @* <h5 class="mt-4" {{ ratingText }}></h5> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" py-4 mb-4 ms-2">
                            <!-- heading -->
                            <h5>給店家的評語</h5>
                            @* <textarea id="commentContent" class="form-control" rows="3" placeholder="請輸入您的評論"></textarea> *@
                            <textarea v-model="comment" class="form-control" rows="3" placeholder="請輸入您的評論"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- button -->
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" v-on:click="submitRating()">送出評價</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


@section Scripts{
    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>
        const historyApp = Vue.createApp({
            data() {
                return {
                    orders: [],
                    countPerPage: 5,
                    pageNumber: 1,
                    searchTerm: '',
                    sortOption: "default",
                    currentRating: 0,
                    hoverRating: 0,
                    comment: "",
                    orderDetail: {
                        orderId: "1",
                        items: [],
                        deliveryMethod: "",
                        itemsSubTotal: "0",
                        shippingFee: "0",
                        totalPrice: "0"
                    }
                };
            },
            mounted() {
                this.loadOrders();
            },
            computed: {
                total() {
                    let _this = this;
                    return Math.ceil(_this.orders.length / _this.countPerPage);
                },
                filterOrder() {
                    let _this = this;
                    var start = (_this.pageNumber - 1) * _this.countPerPage;
                    var end = start + _this.countPerPage;

                    var arr = [];
                    _this.orders


                    if (_this.sortOption == "default") return _this.orders.slice(start, end);
                    return _this.orders.sort(function (x, y) {
                        if (_this.sortOption == "priceDesc") return x.totalPrice - y.totalPrice;
                        if (_this.sortOption == "priceAsc") return y.totalPrice - x.totalPrice;
                        if (_this.sortOption == "dateDesc") return new Date(x.orderDate).getTime() - new Date(y.orderDate).getTime();
                        if (_this.sortOption == "dateAsc") return new Date(y.orderDate).getTime() - new Date(x.orderDate).getTime();
                    }).slice(start, end)                    
                }
            },
            methods: {
                showDate(dateString) {
                    return new Date(dateString).toISOString().split('T')[0]
                },
                showTime(dateString) {
                    return new Date(dateString).toTimeString().split(' ')[0]
                },
                loadOrders() {
                    let _this = this;
                    fetch(`/api/HistoryOrderapi/GetHistoryOrders`)
                        .then(response => response.json())
                        .then(data => _this.orders = data)
                        .catch(err => console.error(err));
                },
                pageClick(num) {
                    this.pageNumber = num;
                },
                getDeliveryMethodClass(type) {
                    if (type == "外送") return "badge bg-light-info text-dark-info"
                    if (type == "自取") return "badge bg-light-danger text-dark-danger"
                },
                loadOrderDetails(orderId) {
                    let _this = this;
                    fetch(`/api/HistoryOrderapi/GetOrderDetails/${orderId}`)
                        .then(response => response.json())
                        .then(data => _this.orderDetail = data)
                        .catch(err => console.error(err));
                },
                getStatusClass(status) {
                    switch (status) {
                        case "已送達":
                            return "badge bg-light-info text-dark-info";
                        case "已領取":
                            return "badge bg-light-danger text-dark-danger";
                        case "已取消":
                            return "badge bg-light text-dark";
                        case "待確認":
                            return "badge bg-warning text-dark";
                        case "待配送":
                            return "badge bg-info text-dark";
                        case "待領取":
                            return "badge bg-secondary";
                        case "配送中":
                            return "badge bg-primary";
                        default:
                            return "badge bg-secondary"; // 預設情況
                    }
                },
                searchOrders() {
                    this.currentPage = 1;
                    this.loadOrders();
                },
                clearSearch() {
                    this.searchTerm = '';
                    this.loadOrders();
                },
                // submitRating() {
                //     fetch('/api/OrdersApi/SubmitRating', {
                //         method: 'POST',
                //         headers: {
                //             'Content-Type': 'application/json',
                //         },
                //         body: JSON.stringify({
                //             orderId: this.currentOrderDetail.OrderId,
                //             rating: this.currentRating,
                //             comment: this.comment,
                //         })
                //     })
                //         .then(response => response.json())
                //         .then(data => {
                //             alert("評價提交成功");
                //         })
                //         .catch(err => console.error("提交評價出錯: ", err));
                // },
            }
        }).component("paginate", VuejsPaginateNext).mount('#historyApp');
    </script>

}
