@model SiFoodProjectFormal2._0.ViewModels.Users.ProfileViewModel;

<!-- 引用Layout -->
@{
    Layout = "_Layout";
}

<!-- Title -->
@{
    ViewData["Title"] = "會員資料修改";
}

<!-- Style -->
@section Styles{
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">

}



<!-- Modal 待確認-->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header border-0">
                <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Sign Up</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Enter Your Name" required="">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email address" required="">
                    </div>

                    <div class="mb-5">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required="">
                        <small class="form-text">
                            By Signup, you agree to our <a href="#!">Terms of Service</a> & <a href="#!">Privacy Policy</a>
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            <div class="modal-footer border-0 justify-content-center">

                Already have an account? <a href="#">Sign in</a>
            </div>
        </div>
    </div>
</div>



<!-- Modal 待確認2-->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body p-6">
                <div class="d-flex justify-content-between align-items-start ">
                    <div>
                        <h5 class="mb-1" id="locationModalLabel">Choose your Delivery Location</h5>
                        <p class="mb-0 small">Enter your address and we will specify the offer you area. </p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="my-5">
                    <input type="search" class="form-control" placeholder="Search your area">
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="mb-0">Select Location</h6>
                    <a href="#" class="btn btn-outline-gray-400 text-muted btn-sm">Clear All</a>


                </div>
                <div>
                    <div data-simplebar style="height:300px;">
                        <div class="list-group list-group-flush">

                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action active">
                                <span>Alabama</span><span>Min:$20</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Alaska</span><span>Min:$30</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<main>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <!-- partial start -->
                <partial name="_MembershipPartial">

                    @* <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                    <!-- heading -->
                    <h3 class="fs-5 mb-0">Account Setting</h3>
                    <!-- button -->
                    <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                    <i class="bi bi-text-indent-left fs-3"></i>
                    </button>
                    </div>
                    </div>
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
                    <div class="pt-10 pe-lg-10">
                    <!-- nav item -->
                    <ul class="nav flex-column nav-pills nav-pills-dark">
                    <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="account-orders.html"><i
                    class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <a class="nav-link active" href="account-settings.html"><i
                    class="feather-icon icon-settings me-2"></i>Settings</a>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <a class="nav-link" href="account-address.html"><i
                    class="feather-icon icon-map-pin me-2"></i>Address</a>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <a class="nav-link" href="account-payment-method.html"><i
                    class="feather-icon icon-credit-card me-2"></i>Payment Method</a>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <a class="nav-link" href="account-notification.html"><i
                    class="feather-icon icon-bell me-2"></i>Notification</a>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <hr>
                    </li>
                    <!-- nav item -->
                    <li class="nav-item">
                    <a class="nav-link " href="../index.html"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
                    </li>
                    </ul>
                    </div>
                    </div> *@
                    <!-- partial end -->

<div class="col-lg-9 col-md-8 col-12">
    <div class="py-6 p-md-6 p-lg-10">
        <div class="mb-6">
            <h2 class="mb-0">帳號設定</h2>
        </div>

        <div>
            <h5 class="mb-4">個人資料</h5>
            <div class="row">
                <div class="col-lg-5">
                    <!-- Profile form -->
                    <form asp-action="Profile" method="post">

                        <!-- input for UserName -->
                        <div class="mb-3">
                            <label class="form-label" for="UserName">姓名</label>
                            <input asp-for="UserName" class="form-control" id="userName" placeholder=" 林小白">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <!-- input for UserEmail -->
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input asp-for="UserEmail" type="email" class="form-control" id="emailContact" placeholder="example@gmail.com">
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <!-- input for UserPhone -->
                        <div class="mb-3">
                            <label class="form-label" for="phone">電話</label>
                            <input asp-for="UserPhone" class="form-control" id="phone" placeholder="0912345678">
                            <span asp-validation-for="UserPhone" class="text-danger"></span>
                        </div>
                        <!-- input for UserBirthDate -->
                        <div class="mb-3">
                            <label class="form-label" for="BirthDay">生日</label>
                            <input asp-for="UserBirthDate" type="date" class="form-control" placeholder="yyyy/mm/dd">
                            <span asp-validation-for="UserBirthDate" class="text-danger"></span>
                        </div>
                        <!-- submit button -->
                         <div class="mt-5 mb-3">
                            <button type="submit" class="btn btn-primary">儲存資料</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="my-10">

        <div class="pe-lg-14 mb-15">
            <h5 class="mb-4">密碼</h5>
            <form asp-action="ChangePassword" method="post" id="password-change-form">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="mb-3 col">
                        <label class="form-label">現在密碼</label>
                        <input type="password" name="CurrentPassword" id="current-password" class="form-control" placeholder="**********" disabled>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">新密碼</label>
                        <input type="password" name="NewPassword" id="new-password" class="form-control" placeholder="**********" disabled>
                    </div>
                    <div class="mb-3 col">
                    <p class="mb-4">
                        想要更新密碼嗎?
                        <a href="#" id="reset-password-link">按這裡重設密碼</a>
                    </p>
                    </div>
                    <div class="mt-2 mb-3 col">
                        <button class="btn btn-primary mb-4" id="update-password-button" disabled>更新密碼</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>






                   

                        
@*                         <hr class="my-10">
                        <div class="ms-10 mb-10">
                            <!-- heading -->
                            <h5 class="mb-4">刪除帳號</h5>
                            <p class="mb-2">你想要刪除在惜食的帳號嗎？</p>
                            <p class="mb-5">刪除帳號就沒辦法再享有實惠又環保的愛惜食物購買平台喔～</p>
                            <!-- btn -->
                            <a href="#" class="btn btn-outline-danger">我確定要刪除帳號</a>
                        </div> *@
                    
            </div>
        </div>
    </section>
</main>

<!-- modal -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <!-- offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- offcanvas body -->
    <div class="offcanvas-body">
        <ul class="nav flex-column nav-pills nav-pills-dark">
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="account-orders.html">
                    <i class="feather-icon icon-shopping-bag me-2"></i>Your Orders
                </a>
            </li>
            <!-- nav item -->

            <li class="nav-item">
                <a class="nav-link active" href="account-settings.html">
                    <i class="feather-icon icon-settings me-2"></i>Settings
                </a>
            </li>
            <!-- nav item -->

            <li class="nav-item">
                <a class="nav-link" href="account-address.html"><i class="feather-icon icon-map-pin me-2"></i>Address</a>
            </li>
            <!-- nav item -->

            <li class="nav-item">
                <a class="nav-link" href="account-payment-method.html">
                    <i class="feather-icon icon-credit-card me-2"></i>Payment Method
                </a>
            </li>
            <!-- nav item -->

            <li class="nav-item">
                <a class="nav-link" href="account-notification.html">
                    <i class="feather-icon icon-bell me-2"></i>Notification
                </a>
            </li>
        </ul>
        <hr class="my-6">
        <div>
            <!-- navs -->
            <ul class="nav flex-column nav-pills nav-pills-dark">
                <!-- nav item -->
                <li class="nav-item">
                    <a class="nav-link " href="../index.html"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Javascript-->
    <script src="~/assets/libs/rater-js/index.js"></script>
    <!-- Libs JS -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/libs/quill/dist/quill.min.js"></script>
    <script src="~/assets/js/vendors/sidebarMenu.js"></script>

    <!-- jQuery驗證 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#reset-password-link').click(function (e) {
                e.preventDefault(); // 阻止鏈接默認動作

                // 啟用密碼輸入欄位和更新按鈕
                $('#current-password, #new-password').prop('disabled', false);
                $('#update-password-button').prop('disabled', false);
                $('#current-password').focus();
            });

            $('#password-change-form').submit(function (e) {
                e.preventDefault(); // 阻止表單的默認提交行為

                var formData = $(this).serialize(); // 序列化表單數據

                $.ajax({
                    url: '@Url.Action("ChangePassword", "Member")', // 確保這裡的路徑是正確的
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert("密碼修改成功");
                            window.location.href = '@Url.Action("Profile", "Member")';
                        } else {
                            alert("現在密碼錯誤，請重新確認");
                        }
                    },
                    error: function () {
                        alert("發生錯誤，請稍後再試");
                    }
                });
            });
        });
    </script>


}