@using SiFoodProjectFormal2._0.Areas.Users.Models.ViewModels
@model HistoryOrderDetailsVM

<!-- Modal -->
<div class="modal fade gd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabelexampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalScrollableTitle">明細&評論</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <!-- Modal從這div複製 -->
                <div class="col-12 card py-3 p-md-4 p-lg-4">
                    <div class="py-2 p-md-2 p-lg-2">
                        <!-- heading -->
                        <h2 class="mb-6">訂單明細</h2>
                    </div>
                    <!-- 訂單明細 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="mt-4 mt-lg-0">
                                <div class="card shadow-sm">
                                    <h5 class="px-6 py-4 bg-transparent mb-0">@Model.OrderId</h5>
                                    <ul class="list-group list-group-flush">
                                        <!-- list group item -->
                                        <li class="list-group-item px-4 py-3">
                                            @foreach (var item in Model.Items)
                                            {
                                                <div class="row align-items-center">
                                                    <div class="col-2 col-md-2">
                                                            <img src="@item.PhotoPath" alt="Product" class="img-fluid">
                                                    </div>
                                                    <div class="col-5 col-md-5">
                                                            <h6 class="mb-0">@item.ProductName</h6>
                                                    </div>
                                                    <!--商品數量-->
                                                    <div class="col-2 col-md-2 text-center text-muted">
                                                            <span>@item.Quantity</span>
                                                    </div>
                                                    <!--商品單價-->
                                                    <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                                            <span class="fw-bold">$@item.UnitPrice</span>
                                                    </div>
                                                </div>
                                            }
                                        </li>

                                        <!-- list group item -->
                                        <li class="list-group-item px-4 py-3">
                                            <div class="d-flex align-items-center justify-content-between   mb-2">
                                                <div>
                                                    金額小計
                                                </div>
                                                <div class="fw-bold">
                                                    $70.00
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between  ">
                                                <div>
                                                    運費<i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip"
                                                         title="Default tooltip"></i>
                                                </div>
                                                <div class="fw-bold">
                                                    $3.00
                                                </div>
                                            </div>
                                        </li>
                                        <!-- list group item -->
                                        <li class="list-group-item px-4 py-3">
                                            <div class="d-flex align-items-center justify-content-between fw-bold">
                                                <div>
                                                    Subtotal
                                                </div>
                                                <div>
                                                    $73.00
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- 星星區塊第二種 -->
                    <div class="card py-3 p-md-4 p-lg-4 ">
                        <div class="card-body">
                            <!-- rating -->
                            <h3 class="mb-5">請給店家評分</h3>
                            <div class="border-bottom py-4 mb-4">
                                <div id="rater"></div>
                                <!-- 隱藏輸入，用於提交評分值 -->
                                <input type="hidden" id="ratingValue" name="rating">
                            </div>
                        </div>
                    </div>
                    <div class=" py-4 mb-4">
                        <!-- heading -->
                        <h5>給店家的評語</h5>
                        <textarea id="commentContent" class="form-control" rows="3" placeholder="請輸入您的評論"></textarea>

                    </div>
                    <!--modal-body-->
                </div>
            </div>

            <!--modal-footer-->
            <div class="modal-footer">
                <!-- button -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="submitRating()">送出評價</button>
                </div>
            </div>
        </div>
    </div>
</div>
