
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Settings eCommerce HTML Template - FreshCart </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                            <h3 class="fs-5 mb-0">Account Setting</h3>
                            <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                                <i class="bi bi-text-indent-left fs-3"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12 col-12">
                        <div class="py-6 p-md-6 p-lg-10">
                            <div class="mb-6">
                                <h2 class="mb-0">資料修改</h2>
                            </div>
                            <div class="col-lg-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">商家名稱</label>
                                            <input type="text" class="form-control" v-model="selectedToEdit.productName" required>
                                        </div>
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">負責人名稱</label>
                                            <input type="text" class="form-control" v-model="selectedToEdit.productName" required>
                                        </div>
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">店家電話</label>
                                            <input type="number" class="form-control" v-model="selectedToEdit.productName" required>
                                        </div>
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">公休時間</label>
                                            <input type="text" class="form-control" v-model="selectedToEdit.productName" required>
                                        </div>
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">縣市</label>
                                            <select class="form-select" v-model="selectedToEdit.categoryId">
                                                <option :value="1">台北市</option>
                                                <option :value="2">新北市</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-6">
                                            <label class="form-label">地區</label>
                                            <select class="form-select" v-model="selectedToEdit.categoryId">
                                                <option :value="1">台北市</option>
                                                <option :value="2">新北市</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-12">
                                            <label class="form-label">地址</label>
                                            <input type="text" class="form-control" v-model="selectedToEdit.unitPrice" required>
                                        </div>
                                        <div class="mb-3 col-lg-12 mt-5">
                                            <h4 class="mb-3 h5">店家敘述</h4>
                                            <div class="mb-3">
                                                <textarea class="form-control" rows="3" v-model="selectedToEdit.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="mb-3 col-lg-6 mt-5">
                                            <div class="card">
                                                <div class="form-group fallback ">
                                                    <label for="files" class="form-label"><h4 class="mb-5 h5">店家LOGO</h4></label><br />
                                                    <img id="insertFilePreview" :src="selectedToEdit.photoPath" title="待上傳" style="width:300px;width:240px" />
                                                    <input type="file" id="updateFile" class="form-control" @@change="insertFileChange($event.target)" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-lg-6 mt-5">
                                            <div class="card">
                                                <div class="form-group fallback ">
                                                    <label for="files" class="form-label"><h4 class="mb-5 h5">店家照片1</h4></label><br />
                                                    <img id="insertFilePreview" :src="selectedToEdit.photoPath" title="待上傳" style="width:300px;width:240px" />
                                                    <input type="file" id="updateFile" class="form-control" @@change="insertFileChange($event.target)" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-lg-6 mt-5">
                                            <div class="card">
                                                <div class="form-group fallback ">
                                                    <label for="files" class="form-label"><h4 class="mb-5 h5">店家照片2</h4></label><br />
                                                    <img id="insertFilePreview" :src="selectedToEdit.photoPath" title="待上傳" style="width:300px;width:240px" />
                                                    <input type="file" id="updateFile" class="form-control" @@change="insertFileChange($event.target)" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-lg-6 mt-5">
                                            <div class="card">
                                                <div class="form-group fallback ">
                                                    <label for="files" class="form-label"><h4 class="mb-5 h5">店家照片3</h4></label><br />
                                                    <img id="insertFilePreview" :src="selectedToEdit.photoPath" title="待上傳" style="width:300px;width:240px" />
                                                    <input type="file" id="updateFile" class="form-control" @@change="insertFileChange($event.target)" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary">取消修改</button>&ensp;
                                    <button type="button" onclick='return confirm("確定要修改嗎?")' class="btn btn-primary" @@click="updateProduct">確定修改</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
@section Scripts
    {
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script>
        const ModifyApp = Vue.createApp({
            data: function () {
                return {
                    ModifyInfo: [],
            },
            computed: {
            },
            mounted: function () {
            },
            methods: {
                editProduct(item) {
                    this.selectedToEdit = item
                    console.log(item)
                },
                readURL: function (fileInput, img) {
                    if (fileInput.files && fileInput.files[0]) {
                        var allowType = "image.*";
                        if (fileInput.files[0].type.match(allowType)) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                img.src = e.target.result;
                            };
                            reader.readAsDataURL(fileInput.files[0]);
                        }
                        else {
                            alert("不支援的檔案上傳格式");
                        }
                    }
                },
                insertFileChange: function (inputFile) {
                    // alert("加入圖片")
                    let _this = this;
                    _this.readURL(inputFile, inputFile.previousElementSibling);
                },
                insertProduct(produt) {
                    // alert("新增")
                    let _this = this;
                    var form = new FormData();
                    form.append("ProductId", -1);
                    form.append("ProductName", _this.productName);
                    form.append("CategoryId", _this.categoryId);
                    form.append("Description", _this.description);
                    form.append("ReleasedQty", _this.releasedQty);
                    form.append("UnitPrice", _this.unitPrice);
                    form.append("SuggestPickEndTime", _this.suggestPickEndTime);
                    form.append("SuggestPickUpTime", _this.suggestPickUpTime);
                    form.append("ImageFile", document.querySelector("#insertFile").files[0]);
                    console.log(Object.fromEntries(form.entries()));
                    fetch(`${baseAddress}/api/ProductManage/postProduct`, { method: "Post", body: form })
                        .then(response => {
                            console.log(response.data);
                            _this.startSeach();
                        }).catch(err => {
                            alert(response),
                                console.log(err),
                                alert(err);
                        });
                },
                updateProduct(produt) {
                    // alert("修改")
                    let _this = this;
                    var form = new FormData();
                    form.append("ProductId", _this.selectedToEdit.productId);
                    form.append("ProductName", _this.selectedToEdit.productName);
                    form.append("CategoryId", _this.selectedToEdit.categoryId);
                    form.append("Description", _this.selectedToEdit.description);
                    form.append("ReleasedQty", _this.selectedToEdit.releasedQty);
                    form.append("UnitPrice", _this.selectedToEdit.unitPrice);
                    form.append("SuggestPickEndTime", _this.selectedToEdit.suggestPickEndTime);
                    form.append("SuggestPickUpTime", _this.selectedToEdit.suggestPickUpTime);
                    form.append("ImageFile", document.querySelector("#updateFile").files[0]);
                    console.log(Object.fromEntries(form.entries()));
                    fetch(`${baseAddress}/api/ProductManage/putProduct/${_this.selectedToEdit.productId}`, { method: "Put", body: form })
                        .then(response => {
                            console.log(response.data);
                            _this.startSeach();
                        }).catch(err => {
                            alert(response),
                                console.log(err),
                                alert(err);
                        });
                    // $("#insertModal").modal('hide')
                },
                getProductAPI: function () {
                    let _this = this; /* test */
                    var uri = `${baseAddress}/api/ProductManage/getAll`;
                    fetch(uri, { method: "GET" })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            }
                            throw new Error(`HTTP error! Status: ${response.status}`)
                        })
                        .then(data => {
                            _this.ProductInfo = data
                        })
                        .catch(error => {
                            alert(error)
                        });
                }
            },
        }).mount("#modifyapp")
    </script>

    
    }