@{
    ViewData["Title"] = "外送員首頁";
}@{
    Layout = "~/Areas/Drivers/Views/Shared/_Layout.cshtml";
}

<body>
        <div class="box2">
            <div class="">
                <h5 font-weight>訂單編號:O001</h5>
                <p>
                    預估完成時間：2023/10/30&nbsp;PM12:45 <br>
                    取餐餐廳：印度風情<br>
                    配送距離：800公尺<br>
                    取餐地址：台北市信義區松高路19號<br>
                    配送地址：台北市信義區松高路300號<br>
                    顧客姓名：王先生
                </p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-group-lg">接受</button>&emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger btn-group-lg">拒絕</button>
                </div>
            </div>
        </div>
</body>
