@{
    ViewData["Title"] ="外送員";
}
@{
    Layout = "~/Areas/Drivers/Views/Shared/_Layout.cshtml";
}
<body>
            <div class="order-category">
                <h4>訂單編號:O001</h4>
                <div class="order-details">

                    <div class="order-details1">
                        <p>
                            預估完成時間：2023/10/30&nbsp;PM12:45 <br>
                            取餐餐廳：印度風情<br>
                            配送距離：800公尺<br>
                            取餐地址：台北市信義區松高路19號<br>
                            配送地址：台北市信義區松高路300號<br>
                            顧客姓名：王先生
                        </p>
                        <div class="text-center">
                            <button type="button"
                                    class="btn btn-primary btn-group-lg justify-content-lg-between">
                                與顧客聊天
                            </button>&emsp;&emsp;&emsp;&emsp;
                            <button type="button" class="btn btn-danger btn-group-lg">已完成</button>
                        </div>
                    </div>
                    
                </div>
            </div>

</body>

