@{
    Layout = "~/Areas/Drivers/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "歷史訂單";
}

@section Styles{

}

<div class="order-category">
    <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">歷史訂單列表</button>
    <table class="table collapse" id="collapseExample">
        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">訂單日期</th>
                <th scope="col">外送地址</th>
                <th scope="col">顧客</th>
                <th scope="col">店家</th>
                <th scope="col">外送費</th>
                <th scope="col">總價</th>
                <th scope="col">訂單狀態</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">U001</th>
                <td>安安</td>
                <td>哈囉</td>
                <td>你好</td>
                <td>你好</td>
                <td>你好</td>
                <td>你好</td>
                <td>你好</td>
            </tr>           
        </tbody>        
    </table>
</div>


@section Scripts {
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

    </script>
}
