@{
    Layout = "~/Areas/Drivers/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "歷史訂單";
}

        <div class="order-category">
            <h4>歷史訂單列表▽</h4>
            <div class="order-details">

                <div class="order-details1">
                    <p>
                        台北市信義區&emsp;2023/10/30&nbsp;PM12:30 <br>
                        餐廳：印度風情&emsp;1.00KM<br>
                        訂單編號：O001 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-success btn-sm">進行中</button>
                    </p>
                </div>
                <div class="order-details1">
                    <p>
                        台北市中山區&emsp;2023/10/30&nbsp;PM1:30 <br>
                        餐廳：大食堂 &emsp;0.08KM<br>
                        訂單編號：O002 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger btn-sm" disabled>已完成</button>
                    </p>
                </div>
                <div class="order-details1">
                    <p>
                        台北市信義區&emsp;2023/10/25&nbsp;PM12:30 <br>
                        餐廳：印度風情&emsp;1.00KM<br>
                        訂單編號：O001 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger btn-sm" disabled>已完成</button>
                    </p>
                </div>
                <div class="order-details1">
                    <p>
                        台北市中山區&emsp;2023/10/24&nbsp;PM1:30 <br>
                        餐廳：大食堂 &emsp;0.08KM<br>
                        訂單編號：O002 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger btn-sm" disabled>已完成</button>
                    </p>
                </div>
                <div class="order-details1">
                    <p>
                        台北市信義區&emsp;2023/9/25&nbsp;PM12:30 <br>
                        餐廳：印度風情&emsp;1.00KM<br>
                        訂單編號：O001 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger btn-sm" disabled>已完成</button>
                    </p>
                </div>
                <div class="order-details1">
                    <p>
                        台北市中山區&emsp;2023/8/24&nbsp;PM1:30 <br>
                        餐廳：大食堂 &emsp;0.08KM<br>
                        訂單編號：O002 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-secondary btn-sm" disabled>已取消</button>
                    </p>
                </div>
            </div>
        </div>

