@{
    ViewData["Title"] = "外送員";

}
    <h2>訂單列表</h2>
    <div class="order-category">
        <h4>待配送訂單▽</h4>
        <div class="order-details">

            <div class="order-details1">
                <p>
                    台北市信義區&emsp;2023/10/30&nbsp;PM12:30 <br>
                    餐廳：印度風情&emsp;1.00KM<br>
                    訂單編號：O001 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-success">查看詳情</button>
                </p>
            </div>
            <div class="order-details1">
                <p>
                    台北市中山區&emsp;2023/10/30&nbsp;PM1:30 <br>
                    餐廳：大食堂 &emsp;0.08KM<br>
                    訂單編號：O002 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-success">查看詳情</button>
                </p>
            </div>

        </div>
    </div>
    <br>
    <div class="order-category">
        <h4>配送中訂單▽</h4>
        <div class="order-details">
            <div class="order-details1">
                <p>
                    台北市信義區&emsp;2023/10/30&nbsp;PM12:30 <br>
                    餐廳：印度風情&emsp;1.00KM<br>
                    訂單編號：O001 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger">配送進度</button>
                </p>
            </div>
            <div class="order-details1">
                <p>
                    台北市中山區&emsp;2023/10/30&nbsp;PM1:30 <br>
                    餐廳：大食堂 &emsp;0.08KM<br>
                    訂單編號：O002 &emsp;&emsp;&emsp;&emsp;<button type="button" class="btn btn-danger">配送進度</button>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="order-category">
        <h4><a href="#" class="link-primary">歷史訂單</a></h4>
    </div>
    <script>
        const categories = document.querySelectorAll('.order-category');

        categories.forEach(category => {
            category.addEventListener('click', () => {
                const details = category.querySelector('.order-details');
                details.style.display = details.style.display === 'none' ? 'block' : 'none';
            });
        });

    </script>
