@model SiFoodProjectFormal2._0.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPasswordHash" class="control-label"></label>
                <input asp-for="UserPasswordHash" class="form-control" />
                <span asp-validation-for="UserPasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBirthDate" class="control-label"></label>
                <input asp-for="UserBirthDate" class="form-control" />
                <span asp-validation-for="UserBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOrderAmount" class="control-label"></label>
                <input asp-for="TotalOrderAmount" class="form-control" />
                <span asp-validation-for="TotalOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEnrollDate" class="control-label"></label>
                <input asp-for="UserEnrollDate" class="form-control" />
                <span asp-validation-for="UserEnrollDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLatestLogInDate" class="control-label"></label>
                <input asp-for="UserLatestLogInDate" class="form-control" />
                <span asp-validation-for="UserLatestLogInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPasswordSalt" class="control-label"></label>
                <input asp-for="UserPasswordSalt" class="form-control" />
                <span asp-validation-for="UserPasswordSalt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
